.highest-average-per-views {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: minmax(279px, 400px) minmax(auto, 900px);
  grid-template-areas:
    "title paragraph"
    "title chart";
  column-gap: 64px;
  row-gap: 25px;
}
.highest-average-per-views__title {
  grid-area: title;
  font-size: 32px;
  line-height: 1.2;
  margin: 0;
}

.highest-average-per-views__paragraph-container {
  max-width: 590px;
}

.highest-average-per-views__paragraph {
  grid-area: paragraph;
  margin: 0;
}

.highest-average-per-views__column-chart {
  max-width: 900px;
  height: 400px;
  grid-area: chart;
  border: 1px solid #695192;
}

@media screen and (max-width: 1000px) {
  .highest-average-per-views {
    grid-template-areas:
      "title paragraph"
      "chart chart";
  }
}

@media screen and (max-width: 850px) {
  .highest-average-per-views {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "paragraph"
      "chart";
  }
}

@media screen and (max-width: 400px) {
  .highest-average-per-views__paragraph {
    font-size: 14px;
  }
}
