.director-views {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: minmax(279px, 400px) minmax(auto, 900px);
  grid-template-areas:
    "title paragraph"
    "title chart";
  column-gap: 64px;
  row-gap: 25px;
}

.director-views__title {
  grid-area: title;
  font-size: 32px;
  line-height: 1.2;
  margin: 0;
}

.director-views__paragraph-container {
  max-width: 590px;
}

.director-views__paragraph {
  grid-area: paragraph;
  margin: 0;
}

.director-views__container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  grid-area: chart;
}

.director-views__bar-chart {
  max-width: 450px;
  height: 400px;
}
