.episodes-by-director {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: minmax(279px, 400px) minmax(auto, 900px);
  grid-template-areas:
    "title paragraph"
    "title chart";
  column-gap: 64px;
  row-gap: 25px;
}
.episodes-by-director__title {
  grid-area: title;
  font-size: 32px;
  line-height: 1.2;
  margin: 0;
}

.episodes-by-director__paragraph-container {
  max-width: 590px;
}

.episodes-by-director__paragraph {
  grid-area: paragraph;
  margin: 0;
}

.episodes-by-director__pie-chart {
  max-width: 900px;
  height: 400px;
  grid-area: chart;
}
