.header {
  margin-bottom: 200px;
  padding-top: 30px;
  display: block;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin: auto;
  max-width: 729px;
  display: block;
}

.header__image {
  width: 300px;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: auto;
  max-width: 683px;
  padding-top: 40px;
}

.header__description-image {
  width: 200px;
  position: relative;
  border-radius: 50%;
  /* rotate: 20deg; */
  top: 40px;
  transition: transform 1.6s linear;
}

.header__description-image:hover {
  transform: rotate(360deg);
}

@media screen and (max-width: 360px) {
  .header__title {
    font-size: 50px;
  }

  .header__image {
    width: 250px;
  }
}
