.page {
  max-width: 1300px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  background-color: #f1f0e9;
  color: #695192;
  font-size: 16px;
  line-height: 20px;
  padding: 0 40px;
}
