.viewerships {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: minmax(279px, 400px) minmax(auto, 900px);
  grid-template-areas:
    "title paragraph"
    "title chart";
  column-gap: 64px;
  row-gap: 25px;
}
.viewerships__title {
  font-family: "Playfair Display", serif;
  grid-area: title;
  font-size: 32px;
  line-height: 1.2;
  margin: 0;
}

.viewerships__paragraph-container {
  max-width: 590px;
}

.viewerships__paragraph {
  margin: 0;
}

.viewerships__container {
  grid-area: chart;
}

@media screen and (max-width: 1000px) {
  .viewerships {
    grid-template-areas:
      "title paragraph"
      "chart chart";
  }
}

@media screen and (max-width: 850px) {
  .viewerships {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "paragraph"
      "chart";
  }
}

@media screen and (max-width: 400px) {
  .viewerships__paragraph-container {
    font-size: 14px;
  }
}
