.views {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.views__avg-viewers-season-bar-chart {
  max-width: 450px;
  height: 400px;
}

.views__views-per-episode-heatmap-chart {
  max-width: 450px;
  height: 400px;
}
